/* remove quotes from markdown quoteblock*/
blockquote::before {
    content: "!";
}
blockquote::after {
    content: "";
}


/* Adding wrapping from code blocks */
div.fragment .line {
    white-space: pre-wrap;
}
div.line {
    text-indent: 0px;
    padding-left: 0px;
}
